<div class="alert-modal" role="alert">
  <div class="alert alert-{{::alertType}}" data-test="alert-{{::alertType}}">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="close" ng-click="modal.close();" data-test="close-modal">
          <i class="fa fa-close fa-2x"></i>
          <span class="sr-only" translate>{{'app.close'}}</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 text-center">
        <i class="fa fa-exclamation-circle fa-4x"></i>
      </div>
      <div class="col-xs-10">
        <ul class="alerts">
          <li tabindex="0" ng-repeat="message in alertMessages">{{::message}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
