<div class="navmenu">
  <!--<div class="hidden-xs text-center">-->
    <!--<a href="" ui-sref="dashboard">-->
      <!--<img-->
           <!--class="menu-logo-image"-->
           <!--data-test="mainnav-image"-->
           <!--src="assets/placeholder.jpg" />-->
    <!--</a>-->
  <!--</div>-->
  <!--<uib-accordion>-->
    <!--<div class="panel-group">-->
      <!--<ul class="panel">-->
        <!--&lt;!&ndash; Dashboard &ndash;&gt;-->
        <!--<li class="accordion-menu-item" data-test="dashboard-accordion">-->
          <!--<div uib-accordion-group is-open="dashboardIsOpen" ng-click="setMenuState('dashboardIsOpen')" ng-init="openCurrentMenu()">-->
            <!--<uib-accordion-heading>-->
              <!--<i class="fa fa-fw fa-tachometer"></i>-->
              <!--<span translate>{{::'nav.dashboard'}}</span>-->
              <!--<i class="fa fa-chevron-right pull-right" ng-class="{'fa-rotate-90': dashboardIsOpen}"></i>-->
            <!--</uib-accordion-heading>-->
            <!--<ul>-->
              <!--<li class="menu-item" data-test="operations-button"-->
                  <!--ng-class="{'active-menu-item': isActive(states.OPERATIONS)}">-->
                <!--<a href="" ui-sref="operations" translate>-->
                  <!--{{::'nav.operations'}}-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</li>-->
        <!--&lt;!&ndash; Hotel &ndash;&gt;-->
        <!--<li class="accordion-menu-item" data-test="hotel-accordion">-->
          <!--<div uib-accordion-group is-open="hotelIsOpen" ng-click="setMenuState('hotelIsOpen')" ng-init="openCurrentMenu()">-->
            <!--<uib-accordion-heading>-->
              <!--<i class="fa fa-fw fa-building-o"></i>-->
              <!--<span translate>{{::'nav.hotel'}}</span>-->
              <!--<i class="fa fa-chevron-right pull-right" ng-class="{'fa-rotate-90': hotelIsOpen}"></i>-->
            <!--</uib-accordion-heading>-->
            <!--<ul>-->
              <!--<li class="menu-item" data-test="hotel-general-button"-->
                  <!--ng-class="{'active-menu-item': isActive(states.HOTEL_GENERAL)}">-->
                <!--<a href="" ng-click="goToHotelRequiredPage(states.HOTEL_GENERAL_GENERAL)" translate>-->
                  <!--{{::'nav.hotelGeneral'}}-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item"-->
                  <!--data-test="sleep-room-button"-->
                  <!--ng-class="{'active-menu-item': isActive(states.SLEEP_ROOM)}">-->
                <!--<a href="" ui-sref="sleep-room.general" translate>-->
                  <!--{{::'nav.sleepRoom'}}-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item" ng-class="{'active-menu-item': isActive(states.HOTEL_MEETING_ROOM)}">-->
               <!--<a aria-disabled="true" class="link-disabled" href="" ui-sref="meeting-room">-->
                  <!--<span translate>{{::'nav.meetingRoom'}}</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item" ng-class="{'active-menu-item': isActive(states.HOTEL_RETAIL)}">-->
                <!--<a aria-disabled="true" class="link-disabled" href="" ui-sref="retail">-->
                  <!--<span translate>{{::'nav.retail'}}</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item" ng-class="{'active-menu-item': isActive(states.HOTEL_GROUPS)}">-->
                <!--<a aria-disabled="true" class="link-disabled" href="" ui-sref="groups">-->
                  <!--<span translate>{{::'nav.groups'}}</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item" ng-class="{'active-menu-item': isActive(states.HOTEL_PACKAGES)}">-->
                <!--<a aria-disabled="true" class="link-disabled" href="" ui-sref="packages">-->
                  <!--<span translate>{{::'nav.packages'}}</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item" ng-class="{'active-menu-item': isActive(states.HOTEL_PROMOTIONS)}">-->
                <!--<a aria-disabled="true" class="link-disabled" href="" ui-sref="promotions">-->
                  <!--<span translate>{{::'nav.promotions'}}</span>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</li>-->
        <!--&lt;!&ndash; Manage &ndash;&gt;-->
        <!--<li class="accordion-menu-item" data-test="manage-accordion">-->
          <!--<div uib-accordion-group is-open="manageIsOpen" ng-click="setMenuState('manageIsOpen')" ng-init="openCurrentMenu()">-->
            <!--<uib-accordion-heading>-->
              <!--<i class="fa fa-fw fa-cog"></i>-->
              <!--<span translate>{{::'nav.manage'}}</span>-->
              <!--<i class="fa fa-chevron-right pull-right" ng-class="{'fa-rotate-90': manageIsOpen}"></i>-->
            <!--</uib-accordion-heading>-->
            <!--<ul>-->
              <!--<li class="menu-item"-->
                  <!--data-test="partner-button"-->
                  <!--ng-class="{'active-menu-item': isActive(states.PARTNER)}">-->
                <!--<a href="" ui-sref="partner" translate>-->
                  <!--{{::'nav.partners'}}-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item"-->
                  <!--data-test="organization-button"-->
                  <!--ng-class="{'active-menu-item': isActive(states.ORGANIZATION_PARTNER)}">-->
                <!--<a href="" ui-sref="organization-partner">-->
                  <!--<span translate>{{::'nav.organization'}}</span>-->
                  <!--/-->
                  <!--<span translate>{{::'nav.partner'}}</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item"-->
                  <!--ng-class="{'active-menu-item': isActive(states.HOTEL_PARTNER)}">-->
                <!--<a href="" ng-click="goToHotelRequiredPage(states.HOTEL_PARTNER)">-->
                  <!--<span translate>{{::'nav.hotel'}}</span>-->
                  <!--/-->
                  <!--<span translate>{{::'nav.partner'}}</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item"-->
                  <!--ng-class="{'active-menu-item': isActive(states.RATE_PLAN_PARTNER)}">-->
                <!--<a href="" ng-click="goToHotelRequiredPage(states.RATE_PLAN_PARTNER)">-->
                  <!--<span translate>{{::'nav.ratePlan'}}</span>-->
                  <!--/-->
                  <!--<span translate>{{::'nav.partner'}}</span>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</li>-->
        <!--&lt;!&ndash; Mapping &ndash;&gt;-->
        <!--<li class="accordion-menu-item" data-test="mapping-accordion">-->
          <!--<div uib-accordion-group is-open="mappingIsOpen" ng-click="setMenuState('mappingIsOpen')" ng-init="openCurrentMenu()">-->
            <!--<uib-accordion-heading>-->
              <!--<i class="fa fa-fw fa-bar-chart"></i>-->
              <!--<span translate>{{::'nav.mapping'}}</span>-->
              <!--<i class="fa fa-chevron-right pull-right" ng-class="{'fa-rotate-90': mappingIsOpen}"></i>-->
            <!--</uib-accordion-heading>-->
            <!--<ul>-->
              <!--<li class="menu-item"-->
                  <!--data-test="partner-mapping-button"-->
                  <!--ng-class="{'active-menu-item': isActive(states.PARTNER_MAPPING)}"-->
                  <!--ng-if="$root.featureFlags.pages.partnerMapping">-->
                <!--<a href="" ui-sref="partner-mapping">-->
                  <!--<span translate>{{::'nav.partnerMapping'}}</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="menu-item" ng-class="{'active-menu-item': isActive(states.RATE_ACCESS_MAPPING)}">-->
                <!--<a aria-disabled="true" class="link-disabled" href="" ui-sref="rate-access-mapping">-->
                  <!--<span translate>{{::'nav.rateAccessMapping'}}</span>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</li>-->
        <!--&lt;!&ndash; Demo &ndash;&gt;-->
        <!--<li class="menu-item"-->
            <!--data-test="demo-button"-->
            <!--ng-class="{'active-menu-item': isActive(states.DEMO)}"-->
            <!--ng-if="$root.featureFlags.pages.demo">-->
          <!--<a href="" ui-sref="demo">-->
            <!--<i class="fa fa-fw fa-truck"></i>-->
            <!--<span class="panel-title-text" translate>{{::'demo.demo'}}</span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</uib-accordion>-->
</div>
