<md-toolbar class="md-toolbar-tools" id="main-header" layout="row">

  <md-button layout="row" flex="10">
    <md-icon class="fa fa-2x" md-font-icon="fa-bars" hide-gt-xs ng-click="toggleSideNav()"></md-icon>

  </md-button>

  <!--<md-icon md-svg-icon="/assets/delta-logo-final-square.svg"></md-icon>-->

  <!--<h2 layout="row" layout-align="center none" flex="80">-->
    <!--Deltachat-->
  <!--</h2>-->

  <div layout="row" layout-align="center none" flex>
    <h1>
      <md-icon md-svg-icon="/assets/delta-logo-final-square.svg"></md-icon>
      Deltachat
    </h1>
  </div>


</md-toolbar>